.autherSection{
    background-color: aqua;
   font-family: 'Times New Roman', Times, serif;
}
.UserSection{
    background-color: beige;
    font-style: italic;
}
footer{
    background-color: aquamarine;
}